.App{
  position: relative;
}
#leftrightsection {
  
  padding: 1.5%;
  background-color:rgb(233,236,244);
  display: flex;
  flex-direction: row;
  align-items: center; 
}
#line {
  position: absolute;
  top: 80%;
  /* bottom: 0; */
  width: 100%;
  display: block;
  background-color: transparent;
}